* {
    padding: 0;
    border: 0;
}

.magico {
    float: right;
    padding-right: 80px;
}

body {
    background-color: black;
}

.container {
    padding: 50px;
    display: inline-block;
}

h1 {
    font-size: 32px;
    display: inline;
    padding: 5px;
    background-color: rgb(250, 8, 8);
    color: white;
    border-radius: 5px;
}

p {
    padding-top: 25px;
    color: white;
    font-size: 25px;
}

.formcontainer {
    background-color: white;
}