body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.title{

    background-color: navy;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffffbb;    
  padding: 10px;
  max-width: 300px;
  border-radius: 15px;
  font-size: 19px;

  
   .titulo{
       color: blue;
   }
  
    
  
}
.container1{

    background-color: rgb(13, 231, 122);
    padding: 10px;
    float: right;
    
  
}