
       body{
            background-size: 1500px 1000px;
            background-image: url('../img/fundo.jpg');
            background-repeat: no-repeat;
            
        }
    .title{
    text-align: center;
     background-color: #7B68EE;
    }

    .master{

        padding-left: 22px;
    }
    .container{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(13, 231, 122);   
      padding: 12px;
      max-width: 300px;
      border-radius: 15px;
      font-size: 19px;
      border-right: 10px;
      float: left;
    }

    .master1{

        padding-right: 22px;
    }
    .container1{
    
        background-color: rgb(13, 231, 122);
        padding: 12px;
        max-width: 300px;
        border-radius: 15px;
        font-size: 19px;
        border-right: 10px;
        float: right;
    
}
h2{
text-align: center;
    padding-top: 10px;

}
p{
    word-wrap: break-word;
    
}
.menu{
    list-style-type: none;
    
    
}
