*{

}

body{
    background-attachment: fixed;
    background-size: 1500px 750px;
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    
}



.title{
    padding: 0%;
    max-width: 1800px;
    margin: auto;
text-align: center;
background-color: #7B68EE;
}

.master{
margin: auto;
padding-left: 22px;
padding-bottom: 10px;
}
.container{

background-color: rgba(13, 231, 122);   
padding: 12px;
margin-bottom: 12px;
max-width: 300px;
border-radius: 15px;
font-size: 19px;
border-right: 10px;
float: left;
}

.master1{
    box-shadow: thistle;
margin: auto;
padding-right: 22px;
}
.container1{
    margin-bottom: 12px;
background-color: rgb(13, 231, 122);
padding: 12px;
max-width: 300px;
border-radius: 15px;
font-size: 19px;
border-right: 10px;
float: right;

}
h2{
text-align: center;
padding-top: 10px;
}

p{
word-wrap: break-word;
}

ul{

    text-align: center;
   
    
}
li{
   
    text-align: center;
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color:  rgb(13, 231, 122);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-radius: 4px;

}

li:hover{
color: white;
    background-color: #7B68EE;
}





