
ul{
   
list-style-image: url("../imagens/s.png");

list-style-position: inside; /* esse comando coloca todos os itens dentro da borda*/

     /*list-style-type: none; /* esse comando tita os pontinhos antes do item*/

     margin: 0; /*esse comando controla a distancia superios do elemento*/ 

     padding: 10px; /*esse comando controla a distancia lateral esquerda do elemento*/ 
     background-color: coral;
}

ol{

    list-style-type: none; /* esse comando tira os pontinhos antes do item*/
    list-style-position: inside; /* esse comando coloca todos os itens dentro da borda*/
margin: 0; /*esse comando controla a distancia superios do elemento*/ 
padding: 10px; /*esse comando controla a distancia lateral esquerda do elemento*/ 
background-color: darkgreen;
}

li{
border: 1px solid;
background-color: goldenrod;
margin: 5px; /*esse controla a distancia vertical das linhas*/
padding: 5px; /*esse comando controla a distancia superios do elemento*/ 
border-radius: 6px; /*esse arredonda as pontas das bordas */

}

/* A BAIXO ESTA UMA LISTA DOS COMANDOS E SEUS SIGNIFICADOS

Value	Description

disc	Default value. The marker is a filled circle

armenian	The marker is traditional Armenian numbering

circle	The marker is a circle

cjk-ideographic	The marker is plain ideographic numbers

decimal	The marker is a number

decimal-leading-zero	The marker is a number with leading zeros (01, 02, 03, etc.)

georgian	The marker is traditional Georgian numbering

hebrew	The marker is traditional Hebrew numbering

hiragana	The marker is traditional Hiragana numbering

hiragana-iroha	The marker is traditional Hiragana iroha numbering

katakana	The marker is traditional Katakana numbering

katakana-iroha	The marker is traditional Katakana iroha numbering

lower-alpha	The marker is lower-alpha (a, b, c, d, e, etc.)

lower-greek	The marker is lower-greek

lower-latin	The marker is lower-latin (a, b, c, d, e, etc.)

lower-roman	The marker is lower-roman (i, ii, iii, iv, v, etc.)

none	No marker is shown

square	The marker is a square

upper-alpha	The marker is upper-alpha (A, B, C, D, E, etc.)

upper-greek	The marker is upper-greek

upper-latin	The marker is upper-latin (A, B, C, D, E, etc.)

upper-roman	The marker is upper-roman (I, II, III, IV, V, etc.)
*/
